.floorNameCt {
    display: flex !important;
    justify-content: center;
    font-weight: 700;
    font-size: 13.6rem;
    line-height: 140px;
    margin-top: 68px;
    font-family: 'Maison Neue';
}

.viewTextBtAllFloor {
    font-weight: 700;
    margin: 7rem 0 6rem 0;
    font-size: 5rem;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 65px;
}