.eventDetailWrapper {
    display: flex;
    background-color: #fbfbfb;
    height: 100%;
    position: relative;
    width: 100%;
}

.eventDetailImage {
    position: relative;
    flex: 1;
    height: calc(100vh - var(--footer-height));
}

.eventDetailImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eventDetailContent {
    width: 44.7%;
    padding: 10.6rem 8rem 17rem;
    position: relative;
    touch-action: none;
    display: flex;
    flex-direction: column;
}

.eventTitle {
    color: #222;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
    white-space: break-spaces;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    max-height: 13.2rem;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
}

.eventDate {
    font-size: 2.4rem;
    color: #393734;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.eventDate span {
    margin-right: 1.2rem;
}

.eventContent {
    background-color: #fff;
    padding: 2.8rem 6rem 3.2rem 4rem;
    color: var(--main-text-color);
    font-size: 2.2rem;
    line-height: 3.4rem;
    overflow-y: overlay;
    font-weight: 400;
    margin-top: 4rem;
    touch-action: none;
    white-space: break-spaces;
    word-wrap: break-word;
    flex-grow: 1;
}

.eventListBtn {
    min-width: 24rem;
    padding: 2.4rem;
    height: 8.6rem;
    line-height: 3.6rem;
    background: var(--bg-dark);
    color: #fff;
    font-weight: 500;
    font-size: 3rem;
    border-radius: 0.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4.9rem;
}

.eventPois {
    max-height: 14.4rem;
    overflow-y: overlay;
    touch-action: none;
    display: flex;
    flex-direction: column;
}

.eventPoiItem {
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--main-text-color);
    display: inline-block;
    width: fit-content;
}

.eventPoiItem img {
    margin-right: 1.3rem;
}

.eventPoiItem span {
    margin-right: 1.2rem;
}

.eventPoiItemBar {
    position: relative;
}

.eventPoiItemBar::before {
    content: '';
    background-color: #99938F;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    width: 0.2rem;
}

.eventPoiFloor {
    font-weight: 700;
}

.navEvent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navEventNext {
    right: 2%;
}

.navEventPrev {
    left: 2%;
}